region = "eu-central-1"

access_key = "aws access key"

secret_key = "aws secret key"

rhsm_username = "rhsm username"

rhsm_password = "rhsm password"

docker_ee_url = "https://storebits.docker.com/ee/rhel/sub-<subscription-id-folder>"

admin_username = "ucp admin username"

admin_password = "ucp admin password"

windows_admin_username = "windows username"

windows_admin_password = "windows password"


